@using Calendarium.Utils
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<Calendarium.Models.CalEvent>
@{
    ViewData["Title"] = "Calendarium";

    DateTime nowReal = ViewBag.TodayReal;
    DateTime now4page = ViewBag.TodayCurrent;
    DateTime sheetFirstDay = ViewBag.SheetFirstDay;
    var sheetDaysCount = 0;
    var nowDayOfWeek = nowReal.Month != now4page.Month ? 0 : (int)(now4page.DayOfWeek);
    var months = new string[13] { "ERR!", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };
    var monthCurr = months[nowReal.Month];
    var monthNext = nowReal.Month == 12 ? "Jan" : months[nowReal.Month + 1];
    var monthPrev = nowReal.Month == 1 ? "Dec" : months[nowReal.Month - 1];
    var monCurrColor = now4page.Month == (nowReal.AddMonths(0).Month) ? "rgb(255, 240, 155)" : "";
    var monNextColor = now4page.Month == (nowReal.AddMonths(1).Month) ? "rgb(255, 240, 155)" : "";
    var monPrevColor = now4page.Month == (nowReal.AddMonths(-1).Month) ? "rgb(255, 240, 155)" : "";
}

<div class="container-fluid">
    <div class="row row-calend">

        <main class="col-md-10">
            <table class="calendar">
                <thead>
                    <tr>
                        <th class='@(nowDayOfWeek==1?"today":"")'> Mon </th>
                        <th class='@(nowDayOfWeek==2?"today":"")'> Tue </th>
                        <th class='@(nowDayOfWeek==3?"today":"")'> Wed </th>
                        <th class='@(nowDayOfWeek==4?"today":"")'> Thu </th>
                        <th class='@(nowDayOfWeek==5?"today":"")'> Fri </th>
                        <th class='@(nowDayOfWeek==6?"today":"")'> Sat </th>
                        <th class='@(nowDayOfWeek==7?"today":"")'> Sun </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int r = 0; r < 6; r++)
                    {
                        <tr>
                            @for (int d = 0; d < 7; d++)
                            {
                                var processingDate = sheetFirstDay.AddDays(sheetDaysCount);
                                var isCurrentMonth = processingDate.Month == now4page.Month;
                                var todayCss = (nowReal.Date == processingDate.Date) ? "today" : "";
                                var otherMonCss = isCurrentMonth ? "" : "nextMon";

                                var dayItemsList = Model.Where(m => m.Started.Date == processingDate.Date).ToList();
                                sheetDaysCount++;

                                <td class="day @otherMonCss @todayCss">
                                    @await Html.PartialAsync("~/Views/Home/EventCalendView.cshtml", dayItemsList)
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </main>

        @* *** SIDEBAR *** *@

        <aside class="col-md-2 sidebar">
            <br />
            <div>
                <a asp-action="Index" asp-route-pMonth="prev" class="btn btn-sm btn-light" style="background-color:@monPrevColor"> @monthPrev </a>
                &nbsp;
                <a asp-action="Index" asp-route-pMonth="" class="btn btn-sm btn-light" style="background-color:@monCurrColor"> @monthCurr </a>
                &nbsp;
                <a asp-action="Index" asp-route-pMonth="next" class="btn btn-sm btn-light" style="background-color:@monNextColor"> @monthNext </a>
                &nbsp;

                @if (SignInManager.IsSignedIn(User))
                {
                    <span class="evnts-cntr">
                        <span id="jsonMake">[ @ViewBag.EnvtsCount ]</span>
                        <a id="jsonLoad" href="">[ @ViewBag.EnvtsFullCount ]</a>
                    </span>
                    <script>
                        let jsonLoad = document.querySelector("#jsonLoad");
                        document.querySelector("#jsonMake").addEventListener("click", function () {
                            let xhr = new XMLHttpRequest();
                            let url = '/Home/GetJson/';
                            xhr.open("GET", url, true);
                            xhr.onreadystatechange = function () {
                                if (this.readyState == 4 && this.status == 200) {
                                    let file = new Blob([this.responseText], { type: 'text/plain' });
                                    jsonLoad.href = URL.createObjectURL(file);
                                    jsonLoad.download = "calendBkp.json";
                                }
                            }
                            xhr.send();
                        });
                    </script>
                }
                else
                {
                    <span>
                        [ @ViewBag.EnvtsCount ] [ @ViewBag.EnvtsFullCount ]
                    </span>
                }
            </div>
            <br />
            <ul>
                <li>????? - BKS</li>
                <li>09-30 - CFE</li>
                <li>10-45 - FZO</li>
                <li>11-45 - CFE</li>
                <li>13-45 - LNC</li>
                <li>...</li>
            </ul>
            <br />
            @if (ViewBag.IsDevEnv)
            {
                <form enctype="multipart/form-data" method="post" action="UploadFile">
                    <input type="file" class="form-control" name="uploadingFile" />
                    <br />
                    <input class="btn btn-info" type="submit" value="Upload" />
                </form>
            }
        </aside>
    </div>
</div>