@using DotNet8.Utils
@*
@inject Wangkanai.Detection.Services.IDetectionService DetectionService
also see in _ViewImports.cshtml
*@
@model IEnumerable<DotNet8.Models.CalEvent>
@{
    ViewData["Title"] = "Index";
    var now = DateTime.Now;
    var daysCount = 0;
    var daysInMonth = Utils.GetMaxDayOfTheMonth(now);
    var firstDayOfWeek = (int)(new DateTime(now.Year, now.Month, 1).DayOfWeek) - 1;
    var isCurrentMonth = false;
    var isPrevMonthFinished = false;
    var nowDayOfWeek = (int)(now.DayOfWeek);
}

@* <input type="hidden" value="@DetectionService.Device.Type" />
<input type="hidden" value="@DetectionService.Browser.Name" /> *@

<div class="container-fluid">
    <div class="row row-calend">

        <main class="col-md-10">
            <table class="calendar">
                <thead>
                    <tr>
                        <th class='@(nowDayOfWeek==1?"today":"")'> Mon </th>
                        <th class='@(nowDayOfWeek==2?"today":"")'> Tue </th>
                        <th class='@(nowDayOfWeek==3?"today":"")'> Wed </th>
                        <th class='@(nowDayOfWeek==4?"today":"")'> Thu </th>
                        <th class='@(nowDayOfWeek==5?"today":"")'> Fri </th>
                        <th class='@(nowDayOfWeek==6?"today":"")'> Sat </th>
                        <th class='@(nowDayOfWeek==7?"today":"")'> Sun </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int r = 0; r < 5; r++)
                    {
                        <tr>

                            @for (int d = 0; d < 7; d++)
                            {
                                if (d == firstDayOfWeek && firstDayOfWeek == 0) // Mon
                                {
                                    isCurrentMonth = true;
                                    isPrevMonthFinished = true;
                                }
                                else if (d == firstDayOfWeek && !isPrevMonthFinished) // Tue...Sun
                                {
                                    daysCount = 0;
                                    isCurrentMonth = true;
                                    isPrevMonthFinished = true;
                                }
                                if (daysCount == daysInMonth) // Next month.
                                {
                                    daysCount = 0;
                                    isCurrentMonth = false;
                                }
                                daysCount++;
                                var isToday = (isCurrentMonth && now.Day == daysCount) ? "today" : "";
                                var modelItem = Model.Where(m => m.Started.Day == daysCount).ToList();

                                if (!isCurrentMonth)
                                {
                                    <td class="day nextMon"></td>
                                }
                                else
                                {
                                    <td class="day @isToday">

                                        @await Html.PartialAsync("~/Views/Home/EventCalendView.cshtml", modelItem)

                                    </td>
                                }
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </main>

        @* *** SIDEBAR *** *@

        <aside class="col-md-2 sidebar">
            <ul>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>Aaaaaaa</li>
                <li>...</li>
            </ul>
        </aside>

    </div>
</div>
